main {
  padding: 60px;
  height: 100%;
  margin: 0 auto;

  .main {
    height: 100%;

  }


  .row {
    flex-direction: row;
    justify-content: space-between;


    .left-sector {
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: auto;
    }

    .globe {
      height: 70%;
      min-width: 100%;

      div {
        h2 {
          font-family: "roc-grotesk-wide";
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
        }
      }

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-image: url("../../images/globe.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40%;
        z-index: -2;
      }

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(26, 31, 52, 0.7);
        backdrop-filter: blur(2px);
        border-radius: 24px;
        z-index: -1;
      }
    }

    .dashboard {
      //height: 25%;
      backdrop-filter: blur(2px);
      background-color: rgba(26, 31, 52, 0.7);
      padding: 20px 30px;

      .row {
        .best {
          min-width: 292px;
          padding: 0;

          h2 {
            width: 100%;
            font-family: "roc-grotesk-wide";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            white-space: nowrap;

          }
        }
      }
    }

    .round {

      border-radius: 24px;
      padding: 20px 30px;
      margin: 10px 0;
      position: relative;
      z-index: 2;

      div h2 {
        z-index: 3;
      }

      h2 {
        font-size: 24px;
        line-height: 35px;
        color: var(--text-color);
        padding-top: 15px;

        span {
          color: var(--gold);
          font-size: 24px;
        }
      }

      .hide.select-list {
        background-color: transparent;
      }

      .select-list {
        background-color: var(--dark-light);
        color: var(--text-color);
        list-style: none;
        position: absolute;
        top: 45px;
        right: 39px;
        z-index: 2;
        padding: 12px;
        font-size: 16px;
        min-width: 100px;

        li {
          cursor: pointer;
          opacity: .8;
          display: flex;
          flex-wrap: nowrap;

          span {
            white-space: nowrap;
          }

          &:hover {
            opacity: 1;
            color: var(--text-color);
          }
        }

        .active {
          opacity: 1;
          color: var(--text-color);
          width: 100%;
          position: absolute;
          top: -25px;
          left: 0;
          text-align: center;

          &:after {
            content: '';
            width: 15px;
            height: 15px;
            background-image: url('../../images/select.svg');
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
            position: absolute;
            top: 0;
            right: 0;
          }

          &.down:after {
            transform: rotate(180deg);
            background-position: top;
          }
        }
      }

      .graph-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1em;
        color: var(--text-color);

        .graph {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
        }
      }
    }
  }

  h2 {
    padding-top: 0 !important;
  }
}

.round-dark {
  background: var(--dark-gradient);
  border-radius: 24px;
  padding: 10px 20px;
  margin: 15px 0;

  .round-dark:nth-child(1) {
    margin-top: 10px;
  }

  h2 {
    font-size: 24px;
    line-height: 35px;
    text-align: center;

  }
}


/*<<<<<<<<<<<<<<<<<---------- BOTTOM CONTAINER ---------->>>>>>>>>>>>>>>>>>*/
.wrap-table {
  border: 1px solid var(--dark-opacity);
  border-radius: 8px;
  margin: 20px auto 0;
  min-width: 292px;
  height: 100px;

  table {
    width: 100%;
    height: 100%;

    td span {
      font-weight: 300;
      font-size: 20px;

      img {
        margin-bottom: 3px;
        margin-left: 3px;
      }
    }

    td span:nth-child(2) {
      margin-left: .5em;
    }

    tr:nth-child(1) {
      td:nth-child(1) {
        padding: 0 5px;
        border-right: 1px solid var(--dark-opacity);
        border-bottom: 1px solid var(--dark-opacity);
      }

      td:nth-child(2) {
        padding: 0 5px;
        border-bottom: 1px solid var(--dark-opacity);
      }
    }

    tr:nth-child(2) {
      td:nth-child(1) {
        padding: 0 5px;
        border-right: 1px solid var(--dark-opacity);
      }

      td:nth-child(2) {
        padding: 0 5px;
      }
    }
  }
}

.range {
  h2 {
    margin-bottom: 3px;
    font-family: "roc-grotesk-wide";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
  }
}

form {
  text-align: center;

  .form-label {
    margin-bottom: 0;

    span img {
      margin-left: .1em;
      margin-bottom: 0;
    }
  }

  #range {
    min-width: 100%;
    padding: 0;

    h2 {
      font-size: 24px;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 32px;
      height: 32px;
      background-image: url('../../images/logo.svg');
      background-color: var(--bg-dark);
      border-radius: 50%;
      border: none;
    }

    &::-moz-range-thumb {
      width: 32px;
      height: 32px;
      background-image: url('../../images/logo.svg');
      background-color: var(--bg-dark);
      border-radius: 50%;
      border: none;
    }

    &.green-range::-moz-range-progress {
      background-color: var(--up);
      height: 3px;
      border-radius: 5px;
    }

    &.red-range::-moz-range-progress {
      background-color: var(--down);
      height: 3px;
      border-radius: 5px;
    }

    &.green-range {
      background: linear-gradient(to right, var(--up) 0%, var(--text-color) 100%);
      border: none;
      border-radius: 8px;
      outline: none;
      -webkit-appearance: none;
      height: 3px;
    }

    &.red-range {
      background: linear-gradient(to right, var(--down) 0%, var(--text-color) 100%);
      border: none;
      border-radius: 8px;
      outline: none;
      -webkit-appearance: none;
      height: 3px;
    }
  }

  .bet-btn {
    background: var(--bg-dark);
    border: 1px solid var(--alert);
    border-radius: 24px;
    color: var(--text-color);
    height: 40px;
    width: 110px;
    padding: 8px 10px;
    align-self: baseline;
    pointer-events: none;
    margin-bottom: 0;

    span {
      width: 90px;
      white-space: nowrap;
      letter-spacing: 0;
      font-weight: 300;
      font-size: 16px;
    }
  }

  //.bet-btn:hover {
  //  color: var(--alert);
  //}

  .wrap-btn {
    display: flex;
    gap: 2em;
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;

    .refill-btn {
      border: 1px solid var(--text-color);
      color: var(--text-color);
      text-transform: uppercase;
      border-radius: 8px;
      background: var(--btn-color);
      margin: 10px auto 0;
      padding: 10px 64px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      &:hover {
        color: var(--gold);
      }
      img {
        margin-left: .3em;
      }
    }

    .predict-btn {
      width: 200px;
      color: var(--text-color);
      letter-spacing: 0.03em;
      text-transform: uppercase;
      border-radius: 8px;
      background-color: var(--btn-color);
      margin-top: 10px;
      white-space: nowrap;
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;

      &.red {
        color: var(--down);
        border: 1px solid var(--down);
        background-image: url("../../images/bear.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 103% 0;
        padding-right: 40px;
      }

      &.green {
        color: var(--up);
        border: 1px solid var(--up);
        background-image: url("../../images/bull.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left 0;
        padding-left: 40px;
      }

      img {
        margin-left: .3em;
      }
    }
  }

}

.btn:active {
  transform: scale(0.97);
  //color: var(--alert);
}


/*<<<<<<<<<<<<<<<<<   RIGHT SECTOR   >>>>>>>>>>>>>>>>>>*/
.right-sector {
  height: auto;
  z-index: 2;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner {
  position: relative;
  padding: 0;
  height: 130px;

  .img {
    background-image: url("../../images/banner.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top 0;
    min-height: 60%;
    width: 100%;
    margin: 0;
  }

  .text {
    margin: 0 20px 10px;
    min-height: 40%;

    p {
      opacity: 0.8;
      font-style: normal;
      font-weight: 200;
    }

    h5 {
      font-weight: 400;
      line-height: 23px;
      margin-bottom: 0;
      margin-top: -10px;
    }
  }
}

.score-wrap {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  table {
    width: 100%;

    td {
      padding-bottom: 15px;

      .label {
        opacity: 0.8;
        font-weight: 300;
      }

      .score {
        font-weight: 400;
      }
    }
  }

  div {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .money-btn {
      border-radius: 8px;
      width: 100%;
      padding: 12px 0;
      font-weight: 400;

      img {
        margin-left: 5px;
        margin-bottom: 5px;
      }

      &.red {
        color: var(--down);
        border: 1px solid var(--down);
      }

      &.green {
        color: var(--up);
        border: 1px solid var(--up);
      }
    }
  }

}

.time {
  background-image: url("../../images/bull.png"), url("../../images/bear.png");
  background-repeat: no-repeat;
  background-position: left 50%, right 50%;
  background-size: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 114px;

  .label {
    opacity: 0.6;
  }

  .time-text {
    font-family: "roc-grotesk-wide";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
  }

  &-text {
    font-size: 2rem;
    line-height: 35px;
  }

}
.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-block);
  z-index: 10;
  #fireworks-canvas {
    width: 100%;
    height: 100%;
  }
  .win {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    min-width: 320px;
    max-height: 80%;
    z-index: 3;

    &-btn {
      display: flex;
      flex-direction: column;

      button {
        background-color: rgba(0, 0, 0, .5);
        border: 1px solid #FFFFFF;
        border-radius: 8px;
        min-height: 40px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
        &:active {
          transform: scale(0.97);
        }
      }
    }
  }
}


@media screen and (min-width: 1200px) {
  .range {
    width: 500px;
    padding-left: 90px;
  }
}
