:root {
  --gold: #F7931A;
  --text-color: #FFFFFF;
  --bg-dark: #161931;
  --alert: #F94439;
  --dark-light: #1A1F34;
  --dark-gradient: #1A1F34;
  --dark-opacity: rgba(141, 217, 252, 0.5);
  --dark-block: rgba(0, 0, 0, .5);
  --black: #000000;
  --down: #FF453A;
  --up: #32D74B;
  --btn-color: #250e25;
}

*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "roc-grotesk", sans-serif;
  font-size: 16px;
  color: var(--text-color);
  letter-spacing: 1px;
}
a {
  text-decoration: none;
  color: var(--text-color);
  &:hover {
    color: var(--text-color);
  }
}
button {
  transition: all 0.2s !important;

  &:hover {
    transform: scale(1.01);
  }
}

#root {
  min-height: 100vh;
  background-image: url("images/main_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  *, *:after, *:before {
  }
}


